.post-item {
    width: 100%;
    max-width: 49%;
    overflow: hidden;
    border: var(--main-border);
    transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post-image-container {
        width: 100%;
        max-width: 40%;
        overflow: hidden;
        img {
            transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
    .post-content {
        flex: 1;
    }

    .post-footer {
        margin-top: auto;
    }

    .content {
        color: rgba(0, 0, 0, 0.44);
    }

    .avatar-container {
        width: 40px;
        height: 40px;
        overflow: hidden;
        img {
            border-radius: 100%;
        }
    }

    .post-author,
    .post-date {
        font-size: 12px;
    }

    .post-date {
        color: rgba(0, 0, 0, 0.44);
    }

    &.emphasis {
        .content {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.625;
        }
    }

    &.latest {
        max-width: 32%;
        flex-direction: column;

        .post-image-container {
            max-width: unset;
        }
    }

    &.single {
        max-width: unset;
        flex-direction: column;
        .post-image-container {
            max-width: unset;
            height: 50vh;
        }
    }

    &:not(.single):hover {
        background: rgb(227, 227, 227);
        .post-image-container img {
            transform: scale(1.2);
        }
    }
}
