.loader-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    background-color: black;
    color: white;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    &.hidden {
        opacity: 0;
    }
}