input,
button,
textarea {
    background: transparent;
    outline: none;
    border: none;
}

input,
textarea {
    padding: 0.8rem 1rem;
    color: black;
    border: var(--main-border);
    border-radius: 20px;
}

input {
    font-size: 16px;
}

label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-title {
    font-size: 34px;
    font-weight: 300;
    text-transform: capitalize;
    font-weight: bold;
    text-transform: uppercase;
}

.input-container {
    position: relative;
    padding-bottom: 25px;
}

.button {
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid;
    transition: background 0.3s ease-in-out;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    &:disabled {
        background-color: #ccc !important;
    }
    &.button-primary {
        background: rgb(81, 98, 180);
        border-color: rgb(81, 98, 180);
        color: white;
        &:hover {
            background: rgb(42, 45, 134);
        }
    }
    &.button-default {
        border-color: black;
        color: black;
        &:hover {
            background: black;
            color: white;
        }
    }
    &.button-blue {
        background-color: var(--main-blue);
        border-color: var(--main-blue);
        color: white;
        &:hover {
            background-color: var(--main-blue-hover);
            border-color: var(--main-blue-hover);
        }
    }
    &.button-danger {
        background-color: var(--main-red);
        border-color: var(--main-red);
        color: white;
        &:hover {
            background-color: var(--main-red-hover);
            border-color: var(--main-red-hover);
        }
    }
    &.button-success {
        background-color: var(--main-green);
        border-color: var(--main-green);
        color: white;
        &:hover {
            background-color: var(--main-green-hover);
            border-color: var(--main-green-hover);
        }
    }
}

.register-link {
    transition: color 0.3s ease-in-out;
    &:hover {
        color: var(--main-blue-hover);
    }
}

.error-message {
    position: absolute;
    bottom: 0;
    color: var(--main-red-hover);
    font-size: 14px;
}
