:root {
    --main-border: 1px solid rgba(0, 0, 0, 0.2);
    --main-blue: #3498db;
    --main-blue-hover: #2980b9;
    --main-red: #e74c3c;
    --main-red-hover: #c0392b;
    --main-dark: #34495e;
    --main-green: #1abc9c;
    --main-green-hover: #16a085;
}
