:root {
    --main-border: 1px solid rgba(0, 0, 0, 0.1);
    --main-blue: #3498db;
    --main-blue-hover: #2980b9;
    --main-red: #e74c3c;
    --main-red-hover: #c0392b;
    --main-dark: #34495e;
    --main-green: green;
    --main-green-hover: darkgreen;
}
