.app-header {
    position: absolute;
    border-bottom: var(--main-border);
    z-index: 50;

    .app-nav {
        min-height: 40px;
    }

    .app-nav-list-item {
        font-weight: bold;
        text-transform: uppercase;
        p {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background-color: green;
                position: absolute;
                bottom: 0;
                transition: width 0.3s ease-in-out;
            }
        }
        .active {
            p:after {
                width: 100%;
            }
            svg {
                color: green;
            }
        }
    }

    .user-avatar {
        width: 40px;
        border-radius: 50%;
    }
}
