.app-header {
    position: absolute;
    border-bottom: var(--main-border);
    z-index: 50;

    .app-nav {
        min-height: 40px;
    }

    .app-nav-list-item {
        font-weight: bold;
        text-transform: uppercase;
        p {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p:after {
            content: "";
            width: 0;
            height: 100%;
            background-color: black;
            position: absolute;
            mix-blend-mode:difference;
            z-index: 1;
            transition: width 0.3s ease-in-out;
        }
        .active {
            p {
                color: white;
                mix-blend-mode: difference;
                &:after {
                    width: 110%;
                }
            }
        }
    }

    .user-avatar {
        width: 40px;
        border-radius: 50%;
    }
}
